.Main {
  width: 100vw;
  height: 95vh;
  background-color: rgb(237 240 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.main-menu {
  width: 25%;
  height: 99.8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36 37 42);
  flex-direction: column;
  border: 1px solid rgb(237 240 245);
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.all-daily {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.all-other {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ipt {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: transparent;
  margin-bottom: 20px;
  font-size: 25px;
  width: 50%;
  font-family: "Nanum Brush Script", cursive;
  font-weight: 100;
  color: white;
}

.ipt:focus {
  outline: none;
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  width: 50%;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.menuTitle {
  margin-bottom: 20%;
  font-size: 40px;
  color: white;
  font-weight: 100;
  font-family: "Nanum Pen Script", cursive;
}
