.Task {
  margin: 0;
  border: 1px solid;
  background-color: white;
  border-left-color: rgba(87, 87, 87, 0.363);
  border-right-color: rgba(87, 87, 87, 0.363);
  border-bottom-color: rgba(87, 87, 87, 0.363);
  font-family: "Nanum Gothic", sans-serif;
  border-radius: 20px;
}

.task {
  font-size: 15px;
  margin: 0;
  display: flex;
  margin-left: 2%;
  flex-direction: row;
  align-items: flex-start;
}

/* .task:first-child {
  margin-top: 20px;
} */

.nav {
  width: 100%;
  height: 9%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.typeName {
  margin-left: 5%;
  font-family: "Nanum Brush Script", cursive;
  font-weight: 100;
}

.settingBtn {
  margin-right: 5%;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
}

.modal2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 100px;
}

.react-responsive-modal-modal {
  border-radius: 30px;
}

.exp {
  font-weight: 100;
  font-family: "Nanum Pen Script", cursive;
  font-size: 20px;
}

.saveIpt {
  font-weight: 100;
  font-family: "Nanum Pen Script", cursive;
  margin-top: 10px;
  width: 150px;
}
/* CSS */
.saveIpt {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.saveIpt:hover,
.saveIpt:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.saveIpt:hover {
  transform: translateY(-1px);
}

.saveIpt:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.lineCon {
  width: 85%;
  margin: 0;
  /* margin-left: 5%; */
  /* margin-bottom: 5px; */
}

.taskCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* height: 9%; */
}

.check {
  margin-left: 15%;
  margin-right: 3%;
  cursor: pointer;
}

.endTask {
  cursor: pointer;
  font-size: 15px;
  margin: 0;
  display: flex;
  margin-left: 2%;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: line-through;
}

.del {
  margin-right: 25%;
  margin-left: 3%;
  cursor: pointer;
}

.edit {
  cursor: pointer;
}

.editSol {
  margin-right: 25%;
  margin-left: 3%;
  cursor: pointer;
}

.editForm {
  margin-left: 25%;
}

.ipt2 {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: transparent;
  margin-bottom: 20px;
  font-size: 16px;
  width: 50%;
  font-weight: 100;
}

.ipt2:focus {
  outline: none;
}
